{#
 # -*- coding: utf-8 -*-

 # Copyright (C) 2012-2013 bibimbop at pgdp

 # This program is free software; you can redistribute it and/or
 # modify it under the terms of the GNU General Public License
 # as published by the Free Software Foundation; either version 2
 # of the License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
	<title>KPPVH result for some book</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style type="text/css">

body {
    margin-left: 5%;
    margin-right: 5%;
}

h1 { margin-top: 1em; }
h2 { margin-top: 2em; }
h3 { font-weight: normal; }

/* hr preceding h1 */
.hrh1 { width: 100%; margin-top:4em; }

/* hr following h2 */
h2 + hr { width: 50%; text-align: left; margin: 0.5em auto 0.5em 0;}

/* Box for text */
.box {
	font-family: "Courier New",Courier,monospace;
    border: 1px dashed;
    background-color: #F8FFFF;
	margin-left: 3em;
	padding: 1em;
}

.regex {
	background-color:lightyellow;
	font-family: "Courier New",Courier,monospace;
}

.highlight {
	background-color:#FF6633;	/* some orange */
}

.warning {
    border: 1px dotted;
    background-color: #FF6633;
}
    </style>
  </head>

  <body>

	<p>Files analyzed:</p>
	<ul>
	  {% for out in outdata %}
	  <li><a href="#{{ out[0] }}">{{ out[0] }}</a></li>
	{% endfor %}
	</ul>

	{% for out in outdata %}
	{{ out[1] }}
	{% endfor %}

  </body>
</html>

