<h1><a href="#{{ myfile.basename }}">{{ myfile.basename }}</a></h1>

{# Duplicate lines #}
{% if dup.ranges %}

  <h2>Duplicated lines</h2>
  <p>Note: only the first instance is displayed.</p>

  {% for entry in dup.ranges %}

	<h3>Duplicated lines {{ entry[0] }} to line {{ entry[1] }}</h3>

    <div class="box">

      {% for i in range(entry[0], entry[1]+1) %}
        {{ myfile.text[i-myfile.start-1] | e }}<br />
	  {% endfor %}

    </div>

  {% endfor %}
{% endif %}
