<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
	<title>KPPVH result for some book</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style type="text/css">

body {
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
	font-weight: normal;
}

/* Box for text */
.box {
	font-family: "Courier New",Courier,monospace;
    border: 1px dashed;
    background-color: #F0FFFF;
}

.regex {
	background-color:lightyellow;
	font-family: "Courier New",Courier,monospace;
}

.highlight {
	background-color:#FF6633;	/* some orange */
}

.warning {
    border: 1px dotted;
    background-color: #FF6633;
}
    </style>
  </head>

  <body>

	{% for out in outdata %}
	  <ul>
	  <li>{{ out[0] }}</li>
	  </ul>
	{% endfor %}

	{% for out in outdata %}
	  <hr />
	  {{ out[1] }}
	  </p>
	{% endfor %}

  </body>
</html>

